@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: #FEFAFB;
}
:is(button, input,select):focus{
    outline: none;
    border: none;
}